* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: #00376b;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

ul {
  list-style-type: none; /* Remove bullets */
}

ul > li {
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
